<template>
  <i :class="['icon', 'fa', 'fa-' + name]" aria-hidden="true"></i>
</template>

<script>

export default {
  props: ['name']
}
</script>
<style lang="scss">
.icon.is-large {
  font-size: 2em;
}
</style>
