<template>
  <div :class="['modal', {'is-active': show}]">
    <div class="modal-background" @click="$emit('close')"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title"><slot name="title"></slot></p>
        <button class="delete" aria-label="Close" @click="$emit('close')"></button>
      </header>
      <section class="modal-card-body">
        <slot></slot>
      </section>
      <footer v-if="showFooter" class="modal-card-foot">
        <button class="button is-success">
          <translate translate-context="Modal button">
            Save changes
          </translate>
        </button>
        <button class="button">
          <translate translate-context="Modal button">
            Cancel
          </translate>
        </button>
      </footer>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    show: {type: Boolean, default: false},
    showFooter: {type: Boolean, default: false},
  }
};
</script>
<style lang="scss" scoped>
.large.modal .modal-card {
  width: 1000px;
}
.modal-card-title {
  flex-shrink: initial;
}
</style>
