<template>
  <aside class="menu">
    <ul class="menu-list">
      <li>
        <router-link to="/">
          <icon name="arrow-left"></icon>
          <translate translate-context="Sidebar link">Return home</translate>
        </router-link>
      </li>
    </ul>
    <hr>
    <div class="field">
      <div class="label">
        <icon name="clock-o"></icon>&nbsp;
        <translate translate-context="Sidebar label">Duration:</translate>
      </div>
      <div class="value">
        <template v-if="metadata.duration === 5">
          <translate translate-context="Task duration" :key="metadata.duration">5 minutes</translate>
        </template>
        <template v-else-if="metadata.duration === 15">
          <translate translate-context="Task duration" :key="metadata.duration">15 minutes</translate>
        </template>
        <template v-else-if="metadata.duration === 30">
          <translate translate-context="Task duration" :key="metadata.duration">30 minutes</translate>
        </template>
        <template v-else-if="metadata.duration === 60">
          <translate translate-context="Task duration" :key="metadata.duration">One hour</translate>
        </template>
        <template v-else-if="metadata.duration === 120">
          <translate translate-context="Task duration" :key="metadata.duration">2 hours</translate>
        </template>
        <template v-else-if="metadata.duration === 9999">
          <translate translate-context="Task duration" :key="metadata.duration">More than two hours</translate>
        </template>
      </div>
    </div>
    <div class="field skills" v-if="metadata.skills && metadata.skills.length > 0  ">
      <div class="label">
        <icon name="wrench"></icon>&nbsp;
        <translate translate-context="Sidebar label">Recommended skills:</translate>
      </div>
      <div class="value">
        <ul>
          <li v-for="skill in metadata.skills" :key="skill.name" :title="skill.summary">
            {{ skill.name }}
            <icon class="right floated" name="question-circle-o"></icon>
          </li>
        </ul>
      </div>
    </div>
    <div class="field skills" v-if="metadata.equipments && metadata.equipments.length > 0  ">
      <div class="label">
        <icon name="wrench"></icon>&nbsp;
        <translate translate-context="Sidebar label">Recommended equipment:</translate>
      </div>
      <div class="value">
        <ul>
          <li v-for="equipment in metadata.equipments" :key="equipment.name" :title="equipment.summary">
            {{ equipment.name }}
            <icon class="right floated" name="question-circle-o"></icon>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <p class="menu-label">
      <translate translate-context="Sidebar label">Steps</translate>
    </p>
    <ul class="menu-list">
      <li v-for="(step, i) in metadata.steps" :key="step.title">
        <a
          @click.prevent="$emit('step-changed', i + 1)"
          :href="'#step-' + (i + 1)"
          :class="[{'is-active': current === 'step-' + (i + 1)}]"
        >{{ i+1 }}. {{ step.title }}</a>
      </li>
    </ul>
    <hr>
    <p class="menu-label">
      <translate translate-context="Sidebar label">Do you need some help?</translate>
    </p>
    <ul class="menu-list">
      <li>
        <a
          rel="noopener noreferrer"
          href="https://framateam.org/signup_user_complete/?id=8bnph1pgktd5zpjwa4ydih998r"
          target="_blank"
        >
          <icon name="comment"></icon>
          <translate
            translate-context="Sidebar link to get help"
          >Chat with us on Framateam</translate>
        </a>
      </li>
    </ul>
    <hr class="small hidden">
    <p>
      <translate
        translate-context="Sidebar text to get help"
      >Include a link to this page and the number of the step that's giving you trouble.</translate>
    </p>
  </aside>
</template>

<script>
export default {
  props: ["metadata", "current"]
};
</script>
<style lang="scss" scoped>
.field {
  .label,
  .value {
    display: inline;
  }
  &.skills ul {
    margin: 1em;
  }
}
</style>
